body {
    background-color: black;
}

h5 {
    font-weight: bold;
    font-style: normal;
    font-family: "Century Gothic";
    font-size: 100px;
}

.tour-info {
    font-family: "Century Gothic";
    font-size: 48px;
}

.brand-font {
    font-weight: bold;
    font-style: normal;
    font-family: "Century Gothic";
    font-size: 180%;
}

.menu-font {
    font-family: "Century Gothic";
}

.search-font {
    font-family: "Century Gothic";
    font-weight: bold;
}

.footer-font {
    font-family: "Century Gothic";
    text-decoration: none;
    color: #FFFFFF8C;
}

.center-aligned {
    text-align: center;
}

.home {
    background-repeat: no-repeat;
    background-size: cover;
    width: 378px;
    height: 405px;
    top: 30vh;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
}

.menu {
    background-color: #1a3865;
    list-style: none;
    margin: 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: relative;
    top: 65vh;
    transform: translate(-50%,-50%);
    left: 50%;
}

.welcome-menu {
    list-style: none;
    margin: 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 48px;
    font-family: "Century Gothic";
    text-align: center;
    color: #FFFFFFBF;
}

.welcome-sub-menu {
    list-style: none;
    margin: 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.welcome-menu:hover, .sub-menu:hover, .sub-menu-extra:hover {
    font-weight: bold;
    color: #FFFFFFFF;
}

.sub-menu {
    font-style: italic;
    font-size: 35px;
    font-family: "Century Gothic";
    color: #FFFFFFBF;
}

.sub-menu-extra {
    font-size: 30px;
    font-family: "Century Gothic";
    text-align: center;
    color: #FFFFFFBF;
}

.placement {
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
}


